doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
		link(rel="stylesheet", href="css/styles.css")
		link(rel="shortcut icon", href="img/favicon.ico")

		title BB Shenanigans | Alfred, NY

	body
		#container
			header
				a(href="#")#brand: h1 BB Shenanigans
				nav#icons
					a(href="#").fa.fa-phone.fa-3x
					a(href="#").fa.fa-map-marker.fa-3x

			#jumbo

			#open-wrapper
				#hours
					h2 OPEN
					p 5PM - 3AM

				#days
					span S
					span M
					span T
					span.op W
					span.op T
					span.op F
					span.op S

			#menu
				.menu-category: a(href="#") Sandwiches
				.menu-category: a(href="#") Entrees
				.menu-category: a(href="#") Sides
				.menu-category: a(href="#") Treats
				.menu-category: a(href="#") Salads
				.menu-category: a(href="#") Drinks
				#menu-full: a(href="#") Full Menu #[span.fa.fa-caret-right]

			footer
				.third
					a(href="#") Contact

				.third
					span.fa.fa-star.fa-2x

				.third
					a(href="#") About
